<%- include ("../partials/header") %>
<div class="container">
    <header class = "jumbotron">
        <div class="container">
            <h1>Welcome to YelpCamp</h1>
            <a class= "btn btn-danger btn-large" href="/campgrounds/new">Add a new Campground</a>
        </div>
    </header>
    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <% camp.forEach(function(ground){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src = "<%= ground["img"] %>" >
                    <div class="caption">
                        <h4><%= ground["name"] %></h4>
                    </div>
                    <p>
                        <a href="/campgrounds/<%= ground._id %>" class="btn btn-primary">More Info</a>
                    </p>
                </div>  
            </div>
        <% }) %>
    </div>
</div>
<%- include ("../partials/footer") %>