<%- include ("../partials/header") %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href = "tel:<%=restaurant.contact%>" id="sidebar-button-1" class="list-group-item active" onclick="currentActive('sidebar-button-1')">
                    <i class="bi bi-telephone"></i> &nbsp; <%= restaurant.contact %>
                </a>
                <a href = "#comments" id="sidebar-button-2" class="list-group-item" onclick="currentActive('sidebar-button-2')">Comments</a>
                <a href = "#menu" id="sidebar-button-3" class="list-group-item" onclick="currentActive('sidebar-button-3')">Menu</a>
                <a href = "#" id="sidebar-button-4" class="list-group-item" onclick="currentActive('sidebar-button-4')">
                    <iframe width="100%" style="border:0" loading="lazy" allowfullscreen src= "<%= restaurant.map_location %>" ></iframe>
                </a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src=" <%= restaurant.img%>" style=>
                <div class="caption-full">
                    <h4 class="pull-right"> &#8377 <%= restaurant.price %> for two </h4>
                    <h4>
                        <p>
                            <a><%= restaurant.name %></a>&nbsp&nbsp
                            <%= restaurant.rating %>/5 
                        </p>
                    </h4>
                    <p><%= restaurant.totalReviews%> <a href="#comments">reviews</a><p>
                    <p> <%= restaurant.description %></p>
                    <p> 
                        <em>Submitted by <%= restaurant.author.username%></em>
                    </p>
                    <% if(currentUser && restaurant.author.id.equals(currentUser._id)){ %>
                        <a class = "btn btn-warning" href="/restaurants/<%=restaurant._id%>/edit">Edit</a>
                        <form id ="delete-form" action = "/restaurants/<%= restaurant._id%>?_method=DELETE" method="POST">
                            <button class = "btn btn-danger">Delete</button>
                        </form>
                        <br />
                        <form id="upload-pdf" class="form-inline" style="margin-top: 1rem;" action="/restaurants/<%= restaurant.id %>/uploadmenu" method="POST" enctype="multipart/form-data">
                            <input class="form-control" type = "file" name= "pdfinput" accept=".pdf">
                            <button class = "btn btn-primary">Upload Menu</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="well" id="comments">
                <div class="text-right">
                    <% if(!currentUser || !(restaurant.comments.some(el => el.author.id.equals(currentUser._id) ))) { %>
                        <a class="btn btn-success" href="/restaurants/<%=restaurant._id%>/comments/new">Add New Comment</a>
                    <% } %>
                </div>
                <hr>
                <% restaurant.comments.forEach(function(data){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= data.author.username %></strong>
                            <br>
                            <% for(var i=1;i<=data.rating;i++){ %>
                                <i class="bi bi-star-fill"></i>
                            <% } %>
                            <% for(var i=data.rating+1; i<=5;i++){ %>
                                <i class="bi bi-star"></i>
                            <% } %>
                            <span class = "pull-right">10 days ago</span>
                            <p>
                                <%= data.text %>
                            </p>
                            <% if(currentUser && data.author.id.equals(currentUser._id)){ %>
                                <a class = "btn btn-xs btn-warning" href = "/restaurants/<%= restaurant._id%>/comments/<%=data._id%>/edit">Edit</a>
                                <form id = "delete-form" action = "/restaurants/<%= restaurant._id%>/comments/<%=data._id%>?_method=DELETE" method = "POST">
                                    <input type = "submit" class = "btn btn-xs btn-danger" value="Delete">
                                </form>
                            <% } %>
                        </div>
                    </div> 
                <% }) %>
            </div>
            <% if(restaurant.menu){ %>
            <div class="well" id="menu">
                <h4> MENU </h4>
                <embed class="display-menu ml-auto mr-auto" src="<%= restaurant.menu %>" width=100% height=800 type="application/pdf"></embed>
            </div>
            <% } %>
        </div>
    </div>
</div>
<%- include ("../partials/footer") %>